html {
	font-size: 16px;
    font-family: 'Lato', sans-serif;
}

body {
	background-color: rgb(205, 176, 238);
	background-repeat: no-repeat;
	background-position: -300px -170px;
}

.container {
	width: 100%;
	height: auto;
	background-color: rgb(250, 241, 252);
	margin: auto;
}


.form_inicio {
	width: 99%;
	text-align: center;
	padding: 2rem 0 1rem;
	border-top: solid .4rem rgb(82, 4, 172);
	border-left: solid .4rem rgb(82, 4, 172);
	border-right: solid .4rem rgb(82, 4, 172);
	border-radius: 5px;
	margin-bottom: 1rem;
}

.form_inicio h2 {
	font-weight: bold;
	color: rgb(155, 17, 235);
    font-size: 18px;
    font-size: 50px;
}

h2 span {
    color: rgb(82, 4, 172);
    font-size: 50px;
}

.form_secciones {
	padding: 3px 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

a:hover{
    color: rgb(59, 112, 6);
}

a, a:visited{
    color: rgb(19, 7, 190);
    font-size: 30px;
    font-weight: bold;
}

h1 {
    color: rgb(82, 4, 172);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 3px 50px;
}

.imagen{

    size: 20px;
	height: auto;
	margin: auto;
}

h3{
    color: rgb(49, 102, 5);
    font-size: 70px;
    font-weight: bold;
}

p{
    color: rgb(143, 8, 132);
    font-size: 25px;
    font-weight: bold;
}